/*标准word排版*/
body {
  background-color: white;
  font-family: STSong; /*宋体*/
  color: black;
}
#write {
    max-width: 1000px;
  	margin: 0 auto;
  	padding: 30px;
    padding-bottom: 100px;
}
/*公式*/
.katex {
  font-size: 12pt !important; /*小四号*/
  text-align: center;
}
.MathJax {
  font-size: 12pt!important; /*小四号*/ 
  text-align: center;
}
.MathJax_SVG {
  font-size: 12pt;
  max-width: none !important;
}
/*大标题*/
h1 {
  font-size: 18pt; /*小二号*/
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 27pt; /*1.5倍行距*/
}
/*二级标题*/
h2 {
  font-size: 15pt; /*小三号*/
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 22.5pt; /*1.5倍行距*/
}
/*摘要*/
h2.abstract{
  text-align: center; 
}
h3 {
  font-size: 14pt; /*四号*/
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 21pt; /*1.5倍行距*/
}
h4,
h5,
h6 {
  font-size: 12pt; /*小四号*/
  text-align: left;
  margin: 0;
  padding: 0;
  line-height: 14.4pt; /*1.5倍行距*/
}
/*正文*/
p {
  text-align: left;
  font-size: 12pt; /*小四号*/
  line-height: 14.4pt; /*1.2倍行距*/
  margin: 0;
  display: block;
}
/*图片*/
img {
  text-align: center;
  border: none;
  box-shadow: none;
  margin: 0 auto;
  padding: 0px;
}
/*说明性文字*/
.caption {
  font-size: 10.5pt; /*五号*/
  line-height: 15.75pt; /*1.5倍行距*/
  display: block;
  margin: 0;
  text-align: center;
}
/*图片在文字右*/
.floatright {
  text-align: center;
  position: relative;
  display: block;
  float: right;
  margin-bottom: 0;
  margin-left: 20px;
}
/*图片容器*/
div.demo-img {
  flex: 0 1 auto;
  margin: 20px 20px;
}
/*垂直居中*/
.display-col {
  height: 100%;
  display: flex;
  align-content: center;
  padding: 0;
}
/*水平居中*/
.display-row {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
}
/*中心居中*/
.display-center {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

